body {
  background: white !important;
}

.DanhMuc {
  padding: 20px 0;
  text-align: center;
}

.DanhMucSP {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-btn {
  cursor: pointer;
  text-align: center;
}

.img-btn img {
  width: 50px;
  height: 50px;
}

.san-pham {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .sort-dropdown {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;

    .sort-label-button {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .sort-label {
        margin-right: 8px;
        font-weight: bold;
      }

      .sort-dropdown-button {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        min-width: 200px;
        border-radius: 5px;
      }

      .arrow {
        margin-left: 5px;
      }
    }

    .sort-dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;
      border: 1px solid #ddd;
      background-color: #fff;
      list-style-type: none;
      padding: 0;
      margin: 0.5rem 0; 
      z-index: 1000;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      li {
        padding: 8px 12px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin-left: 200px;
    min-height: 280px;

    .product-item {
      width: 250px;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
        padding: 0 10px;
      }

      p {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }
      .add-to-cart {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: rgba(0, 123, 255, 0.9); 
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: none; 
        transition: all 0.3s;
        z-index: 10;
      }
    
      &:hover .add-to-cart {
        display: block;
      }
    
    }
  }
}
