.AdminPage {
    .Admin-right {
      display: flex;
      flex-direction: column;
      gap: 30px;
  
      .title {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: space-between;
        height: 100px;
        background-color: antiquewhite;
        padding-top: 25px;
  
        h5 {
          left: 0;
          cursor: pointer;
        }
      }
  
      .btn {
        display: flex;
        gap: 30px;
        justify-content: center;
  
        button {
          height: 30px;
          width: 100px;
          border-radius: 10px;
          background-color: rgb(145, 205, 205);
        }
  
        button:hover {
          color: #fff;
          background-color: burlywood;
        }
      }
    }
  }
  